<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-5">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>Celular</td>
            <td>Email</td>
          </tr>

          <% contatos.forEach(contato => { %>
          <tr>
            <td><%= contato.name %></td>
            <td><%= contato.sobrenome %></td>
            <td><%= contato.cel %></td>
            <td><%= contato.email %></td>
            <td><a href="./contato/<%= contato._id%>">Editar</a></td>
            <td>
              <a href="./contato/delete/<%= contato._id%>" class="text-danger"
                >Excluir</a
              >
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
